{% extends 'gaana/base.html' %}
{% block title %}{{ album }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'gaana:detail' album.id %}">
                        {% if album.album_logo.url %}
                            <img src="{{ album.album_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image</h3>
                        {% endif %}
                    </a>
                    <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
{#                <li role="presentation" class="active"><a href="{% url 'gaana:detail' album.id %}">View All</a></li>#}
                <li role="presentation"><a href="{% url 'gaana:create_song' album.id %}">Add New Song</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Song File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                            <th>Share</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for song in album.song_set.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    
                                    <a target="-_top" href="{{ song.song_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>

                                </td>
                                <td>
                                    <a href="{% url 'gaana:favorite' song.id %}"><span class="glyphicon glyphicon-heart {% if song.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% url 'gaana:delete_song' album.id song.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-size="small" data-mobile-iframe="true">
                                        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Share</a>
                                    </div>
{#                                    <a href="#" class="glyphicon glyphicon-share"></a>#}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <div class="panel panel-body">
                    <p class="lead">Leave your Comments</p>
                     <hr>
                <div class="">
                    <div class="fb-comments w-8" data-href="{{ request.build_absolute_url }}" data-numposts="5"></div>
{#                    <form action="." method="POST">#}
{#                            {% csrf_token %}#}
{#                            <div class="form-group">#}
{#                                <input class="form-control" type="textarea" name="content">{{ comment_form }}</input>#}
{#                                <input type="submit" value="Post" class="btn btn-default">#}
{#                            </div>#}
{#                        </form>#}
{#                    <hr>#}
{#                        <p>{{ comments.count }} Comments</p>#}
{#                        {% for comment in comments %}#}
{#                                <ul class="list-group">#}
{#                                    <li class="list-group-item">#}
{#                                        <p>{{ comment.content }}</p>#}
{#                                        <footer>by {{ comment.userdetail }} | {{ comment.created_date }} ago</footer>#}
{#                                    </li>#}
{#                                </ul>#}
{#                        {% endfor %}#}
                </div>

                </div>
            </div>

        </div>
        <!--Bottom comment Info-->



                </div>


    </div>

</div>

{% endblock %}
