{% extends 'gaana/base.html' %}
{% block title %}Sign Up{% endblock %}
{% block albums_Active %}active{% endblock %}


{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>Register/Create a New Account</h4>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'gaana/form-template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>


</div>
{% endblock %}